  
      <div class="nav-bar">
        <ul class="nav-bar-content">
          <li><a href="#home" aria-current="page">Home</a></li>
          <li><a href="#about" aria-current="page">About Me</a></li>
          <li><a href="#projects" aria-current="page">Projects</a></li>
          <li><a href="#goals" aria-current="page">Goals</a></li>
        </ul>
      </div>      
      <section class="page-content">
        <section id="home">
          <app-home></app-home>
        </section>
        
        <section id="about">
          <app-about></app-about>
        </section>
        
        <section id="projects">
          <app-projects></app-projects>
        </section>
        
        <section id="goals">
          <app-goals></app-goals>
        </section>
        
      </section>
  